

@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Miltonian+Tattoo&display=swap');
@import "reset.css";


body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
}

canvas {
    background-color: white;
    position: absolute;
    right: 0;
    top: 47px;
    left: 101px;
}

.hidden {
    display: none;
}

#paint-board {
    position: relative;
    width: 600px;
    height: 630px;
    background-color: #A7A7A7;
}

/*STATUS BAR*/
#status-bar {
    width: 590px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background: linear-gradient(#080162, blue);
    color: white;
    padding: 5px;
}

.status-bar-column {
    width: 33%;
}

.status-bar-column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#file-name {
    all: unset;
}

#file-name::placeholder {
    color: white;
}

#status-bar-icon {
    background-color: #ABA8AF;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    padding: 5px;
    margin-left: 5px;
    color: black;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

#status-bar-icon:hover {
    box-shadow: inset 0.1em 0.1em black;
}

.status-bar-column:first-child {
    display: flex;
    align-items: center;
}

.window-icon-small {
    height: 50px;
    width: 50px;
    margin-left: -12px;
    margin-top: -3px;
}

.window-icon-big {
    height: 90px;
    width: 90px;
}



/*LEFT BAR*/
#left-bar {
    position: absolute;
    padding: 10px 8.5px;
}

#brush-size, #brush-fill-stroke-container {
    position: relative;
}


#brush-size:active, #brush-fill-stroke-container:active {
    box-shadow: inset 0.3em 0.3em black;
}

#brush-size-range {
    position: absolute;
    width: 80px;
    z-index: 5;
    zoom: 0.5;
    background-color: #080162;
    border-radius: 10px;
    color: white;
    left: -120px;
    top: 15px;
    border-top-left-radius: 0;
    padding: 5px; 
}

#brush-fill-stroke-radio {
    position: absolute;
    width: 80px;
    z-index: 5;
    zoom: 0.8;
    background-color: #080162;
    border-radius: 10px;
    color: white;
    left: 70px;
    top: 5px;
    border-top-left-radius: 0;
    padding: 5px;
}

#brush, #paint-brush {
    display: flex;
}

#colors {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 155px;
    width: 80px;
    margin: 10px 2px 0px 2px;
}

#colors-row {
    display: flex;
    margin-top: -3px;
}

.color-option {
    height: 40px;
    width: 40px;
    transition: ease-in-out 0.5s;
    border: 1px solid grey;
    cursor: pointer;
}

.color-option:hover {
    box-shadow: inset 0.1em 0.1em black;
}



#eraser {
    display: flex;
}


#erase-canvas, #erase-drawing {
    all: unset;
    font-size: 13px;
}

.window-icon-border {
    height: 40px;
    width: 40px;
    transition: ease-in-out 0.5s;
    border: 1px solid grey;
    background: linear-gradient(grey, #A9A9A9);
    left: 0;
    margin-left: 0;
}

.window-icon-border:hover {
    box-shadow: inset 0.1em 0.1em black;
}

.window-icon-border.clicked {
    box-shadow: inset 0.2em 0.2em blue;
}

/*BOTTOM BAR*/

#bottom-bar {
    position: inherit;
    top: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    height: 90px;
    box-shadow: inset 0.2em 0.2em black;
    /*background: linear-gradient(grey, #A9A9A9);*/
}

.bottom-bar-column {
    position: relative;
    width: 33%;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0.1em 0.1em black;
    height: 90px;
    transition: ease-in-out 0.5s;
}

.bottom-bar-column:hover {
    box-shadow: inset 0.3em 0.3em rgba(0, 0, 0, 0.778);
}



.bottom-bar-column:first-child {
    display: flex;
    flex-wrap: wrap;    
    transition: ease-in-out 0.5s;
}

.bottom-bar-column:last-child {
    display: flex;
    transition: ease-in-out 0.5s;
}

.bottom-bar-column:nth-child(2) {
    display: flex;
    flex-direction: column;
    transition: ease-in-out 0.5s;
}

#meme-image {
    padding: 0px 17px;
}


#meme-text::placeholder, #meme-text-font, #meme-text-size::placeholder {
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    text-align: right;
    font-style: normal;
    font-size: 13px;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
      text-align: center;
      color: rgb(34, 34, 34);
}

#bottom-bar input {
    font-size: 13px;
    text-align: center;
}

#meme-text-font {
    font-size: 10px;
}



#meme-text-font option:first-child {
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
      text-align: center;
      color: black;
}

#meme-text-font option:nth-child(1) {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}


#meme-text, #meme-text-size {
    all: unset;
    cursor: pointer;
}

#meme-text-font {
    padding: 3px 2px;
    background-color: #080162;
    color: white;
    border: none;
    inset: 0;
}

#meme-image {
    margin-top: -30px;
    position: relative;
}

#meme-text {
    position: absolute;
    bottom: 20px;
}


#meme-text-size {
    position: absolute;
    bottom: 20px;
}

#meme-text-font {
    margin-top: -29px;
    position: relative;
}